.login-main {
  display: flex;
  flex-direction: column;
  width: 34.375rem;
  height: 25.5rem;
  padding: 0 2rem;
  position: relative;
  margin: auto;
  transform: translate(0, 50%);
}

.logo-div {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.logo-img {
  width: 8rem;
  height: 3rem;
  cursor: pointer;
}

.login-section-form {
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 1.875rem;
  margin: 1.875rem 0;
  padding: 0 2.1875rem;
}

.login-section-form .fieldset-box {
  width: calc(100% - 4.375rem); /* 패딩 고려한 너비 조정 */
}

.login-link {
  margin: 1.875rem auto;
}

.login-link-span {
  margin: 0 0.875rem;
}
