.button {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  background-color: var(--main-color);
  transition: background-color 0.3s;
}

.button:not(.white):hover {
  background-color: var(--sub2-color);
  box-sizing: border-box;
}

.button.white {
  border: 1px solid var(--gray200-color);
  background: white;
  color: black;
}

.button.white:hover {
  border-color: var(--main-color);
  background-color: var(--main-color);
  transition: all 0.2s;
  color: white;
}

.button:disabled {
  cursor: none;
  background-color: var(--gray200-color);
}
