.show-info,
.show-notice,
.show-round,
.show-reservation-user-info,
.show-agreement {
  margin: 2.5rem 0;
}

.reservation-section h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.show-info span::before {
  content: "• ";
}
