.next-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  text-align: left;
  line-height: 1.875rem;
}

.prev-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  text-align: left;
  line-height: 1.875rem;
}
