/* 댓글 수정 폼 */
.comment-form {
  margin-bottom: 3.125rem;
}

.comment-form__textarea {
  margin: 1.875rem 0 0.625rem;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--gray200-color);
  font-family: inherit;
  font-size: 1rem;
  color: var(--text-color);
}
.comment-form__textarea:focus {
  border-color: var(--gray400-color);
}

.comment-form__buttons {
  display: flex;
  gap: 0.5rem;
}
.comment-form__buttons > * {
  width: 5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--des-bg-color);
  cursor: pointer;
}
.comment-form__buttons > :first-child {
  margin-left: auto;
}
