.modal-background {
  width: 100vw;
  z-index: 100;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
}

.modal {
  box-sizing: border-box;
  width: calc(100% - 2.5rem);
  max-width: 50rem;
  min-width: 17.5rem;
  height: calc(100vh - 2.5rem);
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 1.5rem 1.25rem;
}

.modal h1 {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.625rem;
}

.modal h1 > span {
  display: block;
  width: calc(100% - 3.5rem);
}

.modal > div {
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow-y: auto;
}

.modal__close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  border-radius: 50%;
  transform: rotate(45deg);
  background: url("@/assets/plus.svg") no-repeat center/ 1rem;
}

.modal__close:hover {
  background-color: var(--gray100-color);
}
