.reservation-section * {
  box-sizing: border-box;
}

.show-info,
.show-notice,
.show-round,
.show-reservation-user-info,
.show-agreement {
  margin: 2.5rem 0;
}

.reservation-section h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.show-info {
  margin-top: 1rem;
}

.show-info span::before {
  content: "• ";
}

.show-reservation-user-info > * {
  margin: 1rem 0;
}
