.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: var(--sub-color);
}
.react-datepicker__day--keyboard-selected:hover {
  background-color: var(--sub-color);
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: var(--main-color);
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: var(--sub-color);
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--sub-color);
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: var(--main-color);
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background-color: var(--main-color);
}

.react-datepicker__close-icon {
  padding-right: 0.5rem;
}

.react-datepicker__close-icon::after {
  background-color: var(--gray200-color);
  padding: 1px;
}
