.reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 17rem;
  padding: 1rem 2rem;
  gap: 1.25rem;
  border: 1px solid var(--gray200-color);
  box-sizing: border-box;
}

.reservation-box {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 2rem;
  position: relative;
}

.reservation-img {
  width: 11.25rem;
  height: 100%;
}

.reservation-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
