.list-container {
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  border: 1px solid var(--gray300-color);
  border-radius: 5px;
  background-color: var(--gray100-color);
  overflow-y: auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;
  padding: 1.125rem 1.5rem;
  border-bottom: 1px solid var(--gray300-color);
  background-color: white;
  text-align: start;
  word-break: keep-all;
  font-size: 0.75rem;
}

.list-item__title {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.list-item__date {
  color: var(--gray300-color);
}

.list-item > button {
  flex-shrink: 0;
  font-size: 0.75rem;
  width: fit-content;
  height: 2rem;
}

.list-item > button:first-of-type svg {
  margin-right: 0.5rem;
  min-width: 1rem;
}

@media (max-width: 389px) {
  .list-item {
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
  }
}
