.card {
  width: 100%;
  aspect-ratio: 460/200;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--gray200-color);
  position: relative;
}

.card__img-wrapper {
  position: absolute;
  left: 8%;
  overflow: hidden;
  width: 56%;
  height: 100%;
}

.card img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card::before {
  content: "";
  display: block;
  width: 9%;
  height: 17.5%;
  background: url(@/assets/ticket-before.svg) no-repeat center / 100%;
  position: absolute;
  top: -7.57%;
  left: 59%;
  z-index: 10;
}

.card::after {
  content: "";
  display: block;
  width: 9%;
  height: 17.5%;
  background: url(@/assets/ticket-before.svg) no-repeat center / 100%;
  transform: rotate(180deg);
  position: absolute;
  bottom: -7.57%;
  left: 59%;
  z-index: 10;
}

.card__info {
  position: absolute;
  right: 4.4%;
  width: 28%;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1.6;
}

.card__info h3 {
  font-size: clamp(0.75rem, 1.5vw, 1.125rem);
  margin-bottom: 10%;
}

.card__info p {
  margin-bottom: 8%;
  font-size: clamp(0.5rem, 1vw, 1rem);
}
.card__info p:last-child {
  margin: 0;
}

@media (max-width: 689.5px) {
  .card__info h3 {
    font-size: 3vw;
  }
  .card__info p {
    font-size: 2vw;
  }
}
