.fieldset {
  display: flex;
}
.fieldset.column {
  flex-direction: column;
  gap: 10px;
}

.fieldset * {
  cursor: pointer;
}

.fieldset label {
  width: fit-content;
  margin-right: 1rem;
}

.fieldset input {
  appearance: none;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: 0;
  margin-right: 0.7rem;
  transition: all 0.1s;
  background: url(@/assets/radio.svg) no-repeat 0 center / cover;
}

.fieldset input:checked {
  background-image: url(@/assets/radio-checked.svg);
}

.fieldset span {
  vertical-align: middle;
}

.fieldset input:disabled + span {
  color: var(--gray200-color);
  text-decoration: line-through;
}

.fieldset input:disabled + span::after {
  content: "예약마감";
  display: inline-block;
  margin-left: 0.625rem;
}
