.mypage-main {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  margin: 3rem auto;
}

.mypage-main section {
  flex: 1;
}

@media (max-width: 580px) {
  .mypage-main > :first-child {
    display: none;
  }
}
