.container {
  box-sizing: border-box;
  width: 100%;
  height: 55vh;
  border: 1px solid var(--gray300-color);
  border-radius: 5px;
  background-color: var(--gray100-color);
  overflow: hidden;
}

.list {
  box-sizing: border-box;
  height: calc(100% - 3.1875rem);
  overflow-y: auto;
}

.list-row {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 30% 20%;
  gap: 5%;
  align-items: center;
  padding: 1.125rem 1.5rem;
  border-bottom: 1px solid var(--gray300-color);
  background-color: white;
  text-align: start;
  word-break: keep-all;
}

.list-header {
  font-size: 0.875rem;
}

.list-item {
  font-size: 0.75rem;
}

.list-item__title {
  font-size: 0.875rem;
}

.list-item__date {
  color: var(--gray300-color);
}

.list-item > button {
  font-size: 0.75rem;
  width: 5.625rem;
  height: 2rem;
  word-break: keep-all;
}

.list-item > button:first-of-type svg {
  margin-right: 0.5rem;
  min-width: 1rem;
}

/* list scroll bar styling */
.list::-webkit-scrollbar {
  width: 0.5rem;
}
.list::-webkit-scrollbar-track {
  background-color: var(--gray100-color);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--gray200-color);
  border: 2px solid var(--gray100-color);
  border-radius: 1rem;
}

.list::-webkit-scrollbar-track:hover {
  background-color: var(--gray100-color);
}
.list::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray300-color);
}
