/* card */
.card {
  width: 100%;
  box-sizing: border-box;
  padding: 1.25rem;
  background-color: var(--gray100-color);
}

.card__nickname {
  display: block;
  margin-bottom: 1.25rem;
}

.card__img-wrapper {
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1.25rem;
}

.card__img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: top;
}

.card__tags > * {
  display: inline-block;
  margin-right: 0.5rem;
}
