.form {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.img-upload {
  position: relative;
  width: 90%;
  aspect-ratio: 3/4;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--gray200-color);
}

.img-upload::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  background: url("@/assets/img-upload.svg") no-repeat center / 1.125rem 1.125rem;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}
.img-upload::after:hover {
  background-color: var(--sub2-color);
}

.img-upload > input {
  display: none;
}

:global(.tags-input) {
  width: 90%;
}
:global(.tagify) {
  width: 100%;
}
