:global(.slick-slider) {
  margin-bottom: 1rem;
}

.slider__img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: contain;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.btn-group button {
  width: fit-content;
}
