.section {
  padding: 2.5rem 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.story-add-btn {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  background: url("@/assets/plus.svg") no-repeat center / 0.75rem;
  background-color: var(--gray200-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.625rem 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.story-add-btn:hover {
  background-color: var(--gray300-color);
}

.story-more-btn {
  padding: 0.5rem 0.625rem;
  border-radius: 0.625rem;
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: 0.625rem;
  transition: background-color 0.3s;
}

.story-more-btn:hover {
  background-color: var(--gray100-color);
}

.carousel-container {
  width: 100%;
  aspect-ratio: 12/3.6;
}

@media (max-width: 760px) {
  .carousel-container {
    aspect-ratio: 9/3.6;
  }
}
@media (max-width: 600px) {
  .carousel-container {
    aspect-ratio: 6/3.6;
  }
}
