.fieldset {
  box-sizing: border-box;
  display: flex;
  gap: 0.7rem;
  margin: 0.5rem 0;
}

.fieldset__label {
  word-break: break-all;
}

.fieldset__checkbox {
  flex-shrink: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0;
  transition: all 0.1s;
  background: url(@/assets/checkbox.svg) no-repeat 0 center / cover;
}

.fieldset__checkbox:checked {
  background-image: url(@/assets/checkbox-checked.svg);
}

.fieldset * {
  cursor: pointer;
}
