.sign-main {
  display: flex;
  flex-direction: column;
  width: 34.375rem;
  height: 100%;
  position: relative;
  margin: 4% auto;
  align-items: center;
  gap: 30px;
}

.logo-img {
  width: 8rem;
  height: 3rem;
  cursor: pointer;
}

.sign-section-form {
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 1.875rem;
  margin: 1.875rem 0;
  padding: 0 2.1875rem;
}

.sign-section-form-group {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.sign-section-form-group fieldset {
  flex: 6;
}
.sign-section-form-group button {
  height: 54px;
  margin-left: 0.75rem;
  flex: 1;
}
.sign-section-form-group.top-minus10 {
  margin-top: -1.25rem;
}
