.fieldset-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.625rem;
  position: relative;
}

.fieldset-box > label {
  color: var(--gray400-color);
  font-size: 1rem;
}

.fieldset-box > input {
  width: 100%;
  height: 3.375rem;
  border-radius: 5px;
  border: 1px solid var(--gray300-color);
  padding: 0 4rem 0 1rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.input-box__check {
  position: absolute;
  top: 50%;
  right: 0.625rem;
}

.input-box__check.success circle {
  fill: green;
}

.input-unit {
  position: absolute;
  top: 65%;
  left: 170px;
  transform: translateY(-50%);
  color: var(--gray400-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
