.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.main .image {
  width: 17.5rem;
  height: 10rem;
  flex-shrink: 0;
}

.main .title {
  line-break: keep-all;
  font-weight: bold;
  font-size: 36px;
}

.main .title-desc {
  font-size: 16px;
  color: var(--gray);
  margin: 20px 0;
}

/* layout */
@media (max-width: 725px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main .title,
  .main .title-desc {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .main {
    zoom: 0.8;
  }
}
